#book_and_parameters{
    

    
    height: 260px;
    padding: 20px;
    
}
#book img{
    float: left;
}
#book{
    border: 2px solid black;
    width: 500px;
    height: 600px;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
