#book_and_desc{
    

    
    height: 400px;
    padding: 20px;
    
}
#book img{
    float: left;
}
#book{
    border: 2px solid black;
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-flex;
}
